[submodule "themes/educenter"]
	path = themes/educenter
	url = https://codeberg.org/foopgp/foopgp-hugotheme.git
[submodule "static/largefiles"]
	path = static/largefiles
	url = https://codeberg.org/foopgp/foopgp-largefiles.git
