<style type="text/css">
	#foopgp-form label { width:240px; text-align:right; margin-right:10px; vertical-align:top;}
	#foopgp-form label.for-cb { width:auto; text-align:left;}
	#foopgp-form label.for-radio { width:auto; text-align:right;}
	#foopgp-form input[type="radio"] { margin-left:100px; margin-right:10px;}
	.hidden { display:none;}
	#error-message, #error-panel legend {color:red;}
	#foopgp-form div {margin:0;}
</style>

<form id="foopgp-form" method="POST" action="/register/valid_form.php?lang=fr" />

<fieldset id="error-panel" class="hidden">
	<legend>Erreur</legend>
	<p><strong><span id="error-message"></span></strong></p>
</fieldset>

<fieldset>
	<legend>Origine du don</legend> 
	<input type="radio" id="origine_income_P" name="origine_income" value="P" onclick="sub_type('P');">
	<label for="origine_income_P" class="for-radio">Personne physique</label>
	<br/>
	<input type="radio" id="origine_income_O" name="origine_income" value="O" onclick="sub_type('O');" checked="checked"> 
	<label for="origine_income_O" class="for-radio">Personne morale</label>
</fieldset>

<fieldset class="type-panel" id="type-O-panel">
	<legend>Organisation</legend>
	<label for="denomination_O">Dénomination :</label>
	<input type="text" id="denomination_O" name="denomination_O" placeholder="Organisation adhérente" size="30" >
</fieldset>

<fieldset class="type-panel" id="type-P-panel" style="display:none;">
	<legend>Identité</legend>
	<label for="ident_known_1">Vous connaissez votre udid4 :</label>
	<input type="hidden" id="ident_known_0" name="ident_known" value="0">
	<input type="checkbox" id="ident_known_1" name="ident_known" value="1" onclick="ident_known_cb(this);">
	
	<div id="ident-known-0">
		<label for="denomination_P">Dénomination publique :</label>
		<input type="text" id="denomination_P" name="denomination_P" placeholder="Prénom NOM ou Pseudo" size="30" >
		<br>
		<label><strong>Calcul de l'UDID4</strong></label>
		<br>
		<label for="firstname">Prénoms de naissance (séparés par des virgules)</label>
		<input type="text" id="firstname" name="firstname" placeholder="Prénom, Deuxième-Prénom" size="30" >
		<br>
		<label for="lastname">Nom de naissance :</label>
		<input type="text" id="lastname" name="lastname" placeholder="VOTRE NOM" size="30" onKeyup="this.value = this.value.toUpperCase();" onfocusout="this.value = this.value.toUpperCase();" >
		<br>
		<label>Date de naissance :</label>
		<select id="day" name="day">
			<option value="">Jour</option>
			<option value="01">1</option>
			<option value="02">2</option>
			<option value="03">3</option>
			<option value="04">4</option>
			<option value="05">5</option>
			<option value="06">6</option>
			<option value="07">7</option>
			<option value="08">8</option>
			<option value="09">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
		<select id="month" name="month">
			<option value="">Mois</option>
			<option value="01">Janvier</option>
			<option value="02">Février</option>
			<option value="03">Mars</option>
			<option value="04">Avril</option>
			<option value="05">Mai</option>
			<option value="06">Juin</option>
			<option value="07">Juillet</option>
			<option value="08">Août</option>
			<option value="09">Septembre</option>
			<option value="10">Octobre</option>
			<option value="11">Novembre</option>
			<option value="12">Décembre</option>
		</select>
		<input placeholder="2000" size="4" id="year" name="year" type="number">
		<br>
		<label for="place">Lieu de naissance :</label>
		<div style="display:inline-block">
			<div class="hidden" id="coordmethodcell">
				<select class="secondary" id="coordmethod" name="coordmethod" onChange="coordmethodselect()">
				<option value="geonamesorg" selected="selected">Trouver les coordonnées sur geonames.org</option>
				<option value="latlon">Specifier latitude/longitude</option>
				</select>
			</div>
			<div id="placecell"><input id="place" name="place" size="30" type="text" onChange="birthplacechanged()"></div>
			<div class="hidden" id="geonameslistcell">
				<select style="width:19em" id="geonameslist" name="geonameslist" onChange="geonameselect()" onMouseDown="geonamesclearmsg()">
				<option></option>
				</select>
			</div>
			<div class="hidden" id="locationcell">
				<span id="location">
				<span title="Latitude de votre lieu de naissancen, sous form décimale"><input id="lat" style="text-align:center" size="6" type="text"><sub>(lat)</sub></span>
				<span title="Longitude de votre lieu de naissancen, sous form décimale"><input id="lon" style="text-align:center" size="6" type="text"><sub>(lon)</sub></span>
				</span>
				<a class="secondary" id="verifylocation" href="//geonames.org/">Trouver sur geonames.org</a>
			</div>
			
			<!-- <input class="secondary" id="reset" type="button" value="Reset" onClick="resetform()"> -->
			<input class="primary" id="generate" type="submit" value="Générer votre UDID4" onClick="try { generateudid2() } catch (err) { alert('Il y a une erreur : ' + err.message ); };return false">
			<div class="hidden" id="generated">
				<input id="tohash" size="30" title="Data hidden by the UDID4" type="text"><br>
				<strong>Votre Identifiant unique (UDID4):</strong><br>
				<input id="udid4" name="udid4" size="30" title="Votre UDID4" type="text">
			</div>
		</div>
	</div>
	
	<div id="ident-known-1" style="display:none;">
		<label for="udid4_input">UDID4 :</label>
		<input type="text" id="udid4_input" name="udid4_input" placeholder="xxxxxxxxxxxxxxxxxxxxxxx_99.99-999.99" size="30" >
	</div>
</fieldset>

<fieldset>
	<legend>Contact</legend>
	<label for="phone">Numéro de téléphone fixe :</label>
	<input type="tel" id="phone" name="phone" placeholder="+33 6 99 99 99 99" size="30" >
	<br>
	<label for="mobile">Numéro de téléphone mobile :</label>
	<input type="tel" id="mobile" name="mobile" placeholder="+33 1 99 99 99 99" size="30" >
	<br>
	<label for="email">Courriel existant :</label>
	<input type="email" id="email" name="email" required="required" placeholder="votre@email.tld" size="30" >
	<br>
	<label for="address">Adresse postale :</label>
	<textarea id="address" name="address" placeholder="Numéro de rue, Rue" cols="30" rows="3"></textarea>
	<br>
	<label for="postcode">Code postal et ville :</label>
	<input type="text" id="postcode" name="postcode" placeholder="00000" size="8" >
	<input type="text" id="city" name="city" placeholder="Votre ville" size="20" >
	<br>
	<label for="country">Pays :</label>
	<select id="country" name="country" >
		<option value="" selected="selected">- votre pays -</option>
		<option value="AF">Afghanistan</option>
		<option value="AX">Åland Islands</option>
		<option value="AL">Albania</option>
		<option value="DZ">Algeria</option>
		<option value="AS">American Samoa</option>
		<option value="AD">Andorra</option>
		<option value="AO">Angola</option>
		<option value="AI">Anguilla</option>
		<option value="AQ">Antarctica</option>
		<option value="AG">Antigua and Barbuda</option>
		<option value="AR">Argentina</option>
		<option value="AM">Armenia</option>
		<option value="AW">Aruba</option>
		<option value="AU">Australia</option>
		<option value="AT">Austria</option>
		<option value="AZ">Azerbaijan</option>
		<option value="BS">Bahamas</option>
		<option value="BH">Bahrain</option>
		<option value="BD">Bangladesh</option>
		<option value="BB">Barbados</option>
		<option value="BY">Belarus</option>
		<option value="BE">Belgium</option>
		<option value="BZ">Belize</option>
		<option value="BJ">Benin</option>
		<option value="BM">Bermuda</option>
		<option value="BT">Bhutan</option>
		<option value="BO">Bolivia, Plurinational State of</option>
		<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
		<option value="BA">Bosnia and Herzegovina</option>
		<option value="BW">Botswana</option>
		<option value="BV">Bouvet Island</option>
		<option value="BR">Brazil</option>
		<option value="IO">British Indian Ocean Territory</option>
		<option value="BN">Brunei Darussalam</option>
		<option value="BG">Bulgaria</option>
		<option value="BF">Burkina Faso</option>
		<option value="BI">Burundi</option>
		<option value="KH">Cambodia</option>
		<option value="CM">Cameroon</option>
		<option value="CA">Canada</option>
		<option value="CV">Cape Verde</option>
		<option value="KY">Cayman Islands</option>
		<option value="CF">Central African Republic</option>
		<option value="TD">Chad</option>
		<option value="CL">Chile</option>
		<option value="CN">China</option>
		<option value="CX">Christmas Island</option>
		<option value="CC">Cocos (Keeling) Islands</option>
		<option value="CO">Colombia</option>
		<option value="KM">Comoros</option>
		<option value="CG">Congo</option>
		<option value="CD">Congo, the Democratic Republic of the</option>
		<option value="CK">Cook Islands</option>
		<option value="CR">Costa Rica</option>
		<option value="CI">Côte d'Ivoire</option>
		<option value="HR">Croatia</option>
		<option value="CU">Cuba</option>
		<option value="CW">Curaçao</option>
		<option value="CY">Cyprus</option>
		<option value="CZ">Czech Republic</option>
		<option value="DK">Denmark</option>
		<option value="DJ">Djibouti</option>
		<option value="DM">Dominica</option>
		<option value="DO">Dominican Republic</option>
		<option value="EC">Ecuador</option>
		<option value="EG">Egypt</option>
		<option value="SV">El Salvador</option>
		<option value="GQ">Equatorial Guinea</option>
		<option value="ER">Eritrea</option>
		<option value="EE">Estonia</option>
		<option value="ET">Ethiopia</option>
		<option value="FK">Falkland Islands (Malvinas)</option>
		<option value="FO">Faroe Islands</option>
		<option value="FJ">Fiji</option>
		<option value="FI">Finland</option>
		<option value="FR">France</option>
		<option value="GF">French Guiana</option>
		<option value="PF">French Polynesia</option>
		<option value="TF">French Southern Territories</option>
		<option value="GA">Gabon</option>
		<option value="GM">Gambia</option>
		<option value="GE">Georgia</option>
		<option value="DE">Germany</option>
		<option value="GH">Ghana</option>
		<option value="GI">Gibraltar</option>
		<option value="GR">Greece</option>
		<option value="GL">Greenland</option>
		<option value="GD">Grenada</option>
		<option value="GP">Guadeloupe</option>
		<option value="GU">Guam</option>
		<option value="GT">Guatemala</option>
		<option value="GG">Guernsey</option>
		<option value="GN">Guinea</option>
		<option value="GW">Guinea-Bissau</option>
		<option value="GY">Guyana</option>
		<option value="HT">Haiti</option>
		<option value="HM">Heard Island and McDonald Islands</option>
		<option value="VA">Holy See (Vatican City State)</option>
		<option value="HN">Honduras</option>
		<option value="HK">Hong Kong</option>
		<option value="HU">Hungary</option>
		<option value="IS">Iceland</option>
		<option value="IN">India</option>
		<option value="ID">Indonesia</option>
		<option value="IR">Iran, Islamic Republic of</option>
		<option value="IQ">Iraq</option>
		<option value="IE">Ireland</option>
		<option value="IM">Isle of Man</option>
		<option value="IL">Israel</option>
		<option value="IT">Italy</option>
		<option value="JM">Jamaica</option>
		<option value="JP">Japan</option>
		<option value="JE">Jersey</option>
		<option value="JO">Jordan</option>
		<option value="KZ">Kazakhstan</option>
		<option value="KE">Kenya</option>
		<option value="KI">Kiribati</option>
		<option value="KP">Korea, Democratic People's Republic of</option>
		<option value="KR">Korea, Republic of</option>
		<option value="KW">Kuwait</option>
		<option value="KG">Kyrgyzstan</option>
		<option value="LA">Lao People's Democratic Republic</option>
		<option value="LV">Latvia</option>
		<option value="LB">Lebanon</option>
		<option value="LS">Lesotho</option>
		<option value="LR">Liberia</option>
		<option value="LY">Libya</option>
		<option value="LI">Liechtenstein</option>
		<option value="LT">Lithuania</option>
		<option value="LU">Luxembourg</option>
		<option value="MO">Macao</option>
		<option value="MK">Macedonia, the former Yugoslav Republic of</option>
		<option value="MG">Madagascar</option>
		<option value="MW">Malawi</option>
		<option value="MY">Malaysia</option>
		<option value="MV">Maldives</option>
		<option value="ML">Mali</option>
		<option value="MT">Malta</option>
		<option value="MH">Marshall Islands</option>
		<option value="MQ">Martinique</option>
		<option value="MR">Mauritania</option>
		<option value="MU">Mauritius</option>
		<option value="YT">Mayotte</option>
		<option value="MX">Mexico</option>
		<option value="FM">Micronesia, Federated States of</option>
		<option value="MD">Moldova, Republic of</option>
		<option value="MC">Monaco</option>
		<option value="MN">Mongolia</option>
		<option value="ME">Montenegro</option>
		<option value="MS">Montserrat</option>
		<option value="MA">Morocco</option>
		<option value="MZ">Mozambique</option>
		<option value="MM">Myanmar</option>
		<option value="NA">Namibia</option>
		<option value="NR">Nauru</option>
		<option value="NP">Nepal</option>
		<option value="NL">Netherlands</option>
		<option value="NC">New Caledonia</option>
		<option value="NZ">New Zealand</option>
		<option value="NI">Nicaragua</option>
		<option value="NE">Niger</option>
		<option value="NG">Nigeria</option>
		<option value="NU">Niue</option>
		<option value="NF">Norfolk Island</option>
		<option value="MP">Northern Mariana Islands</option>
		<option value="NO">Norway</option>
		<option value="OM">Oman</option>
		<option value="PK">Pakistan</option>
		<option value="PW">Palau</option>
		<option value="PS">Palestinian Territory, Occupied</option>
		<option value="PA">Panama</option>
		<option value="PG">Papua New Guinea</option>
		<option value="PY">Paraguay</option>
		<option value="PE">Peru</option>
		<option value="PH">Philippines</option>
		<option value="PN">Pitcairn</option>
		<option value="PL">Poland</option>
		<option value="PT">Portugal</option>
		<option value="PR">Puerto Rico</option>
		<option value="QA">Qatar</option>
		<option value="RE">Réunion</option>
		<option value="RO">Romania</option>
		<option value="RU">Russian Federation</option>
		<option value="RW">Rwanda</option>
		<option value="BL">Saint Barthélemy</option>
		<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
		<option value="KN">Saint Kitts and Nevis</option>
		<option value="LC">Saint Lucia</option>
		<option value="MF">Saint Martin (French part)</option>
		<option value="PM">Saint Pierre and Miquelon</option>
		<option value="VC">Saint Vincent and the Grenadines</option>
		<option value="WS">Samoa</option>
		<option value="SM">San Marino</option>
		<option value="ST">Sao Tome and Principe</option>
		<option value="SA">Saudi Arabia</option>
		<option value="SN">Senegal</option>
		<option value="RS">Serbia</option>
		<option value="SC">Seychelles</option>
		<option value="SL">Sierra Leone</option>
		<option value="SG">Singapore</option>
		<option value="SX">Sint Maarten (Dutch part)</option>
		<option value="SK">Slovakia</option>
		<option value="SI">Slovenia</option>
		<option value="SB">Solomon Islands</option>
		<option value="SO">Somalia</option>
		<option value="ZA">South Africa</option>
		<option value="GS">South Georgia and the South Sandwich Islands</option>
		<option value="SS">South Sudan</option>
		<option value="ES">Spain</option>
		<option value="LK">Sri Lanka</option>
		<option value="SD">Sudan</option>
		<option value="SR">Suriname</option>
		<option value="SJ">Svalbard and Jan Mayen</option>
		<option value="SZ">Swaziland</option>
		<option value="SE">Sweden</option>
		<option value="CH">Switzerland</option>
		<option value="SY">Syrian Arab Republic</option>
		<option value="TW">Taiwan, Province of China</option>
		<option value="TJ">Tajikistan</option>
		<option value="TZ">Tanzania, United Republic of</option>
		<option value="TH">Thailand</option>
		<option value="TL">Timor-Leste</option>
		<option value="TG">Togo</option>
		<option value="TK">Tokelau</option>
		<option value="TO">Tonga</option>
		<option value="TT">Trinidad and Tobago</option>
		<option value="TN">Tunisia</option>
		<option value="TR">Turkey</option>
		<option value="TM">Turkmenistan</option>
		<option value="TC">Turks and Caicos Islands</option>
		<option value="TV">Tuvalu</option>
		<option value="UG">Uganda</option>
		<option value="UA">Ukraine</option>
		<option value="AE">United Arab Emirates</option>
		<option value="GB">United Kingdom</option>
		<option value="US">United States</option>
		<option value="UM">United States Minor Outlying Islands</option>
		<option value="UY">Uruguay</option>
		<option value="UZ">Uzbekistan</option>
		<option value="VU">Vanuatu</option>
		<option value="VE">Venezuela, Bolivarian Republic of</option>
		<option value="VN">Viet Nam</option>
		<option value="VG">Virgin Islands, British</option>
		<option value="VI">Virgin Islands, U.S.</option>
		<option value="WF">Wallis and Futuna</option>
		<option value="EH">Western Sahara</option>
		<option value="YE">Yemen</option>
		<option value="ZM">Zambia</option>
		<option value="ZW">Zimbabwe</option>
	</select>
</fieldset>

<fieldset>
	<legend>Adhésion</legend>
	<label for="member" class="for-cb">Vous êtes déjà adhérent de l'association foopgp :</label>
	<input type="hidden" id="member" name="member" value="">
	<input type="checkbox" id="member" name="member" value="1" onclick="already_member(this);">
	<p id="member-details">
		<label for="alias">Courriel souhaité :</label>
		<input type="text" id="alias" name="alias" placeholder="pseudo" size="15" >@foopgp.org
		<br>
		<label for="subdate">Date de début d'adhésion souhaitée :</label>
		<input type="date" id="subdate" name="subdate">
	</p>
	<p id="member-renew" style="display:none;">
		<label for="acceptrenew" class="for-cb">Vous souhaitez renouveler votre adhésion à l'association foopgp :</label>
		<input type="hidden" name="acceptrenew" value="" >
		<input type="checkbox" id="acceptrenew" name="acceptrenew" value="1" >
	</p>
</fieldset>

<fieldset>
	<legend>Consentement</legend>
	<label for="acceptcite" class="for-cb">Vous acceptez d'être cité :</label>
	<input type="hidden" name="acceptcite" value="" >
	<input type="checkbox" id="acceptcite" name="acceptcite" value="1" >
	<br>
	<label for="acceptphoto" class="for-cb">Vous acceptez d'être photographié :</label>
	<input type="hidden" name="acceptphoto" value="" >
	<input type="checkbox" id="acceptphoto" name="acceptphoto" value="1" >
</fieldset>

<fieldset>
	<legend>Validation</legend>
	<p for="payment">Choisissez le montant de votre don à l'étape suivante</p>
	<input type="submit" id="payment" name="payment" value="Paiement">
</fieldset>

</form>

<script type="text/javascript">
function sub_type(type) {
	$('.type-panel').hide();
	$('#type-'+type+'-panel').show();
}

function ident_known_cb(cb) {
	if(cb.checked) {
		$('#ident-known-0').hide();
		$('#ident-known-1').show();
	}
	else {
		$('#ident-known-0').show();
		$('#ident-known-1').hide();
	}
}

function already_member(cb) {
	if(cb.checked) {
		$('#member-details').hide();
		$('#member-renew').show();
	}
	else {
		$('#member-details').show();
		$('#member-renew').hide();
	}
}

// error message
var json_errors = window.location.hash.substring(1);
if(json_errors) {
	var arr_errors = JSON.parse(decodeURI(json_errors));
	var error_msgs='';
	for (iEr in arr_errors) {
		console.log(arr_errors[iEr]);
		error_msgs = error_msgs + arr_errors[iEr] + "<br>";
	}
	var spanErr = document.getElementById("error-message");
	spanErr.innerHTML=error_msgs;
	document.getElementById("error-panel").className = "";
}

// select type O by default
document.getElementById("origine_income_O").checked = true;

// uncheck ident_known cb
document.getElementById("ident_known_1").checked = false;

</script>

<script src="/register/udid4.js"></script>
